LivroWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://pd.ifpb.br/" name="LivroWS" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://pd.ifpb.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://pd.ifpb.br/" schemaLocation="LivroWS_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="hello">
    <part name="parameters" element="tns:hello"/>
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse"/>
  </message>
  <message name="cadastrar">
    <part name="parameters" element="tns:cadastrar"/>
  </message>
  <message name="cadastrarResponse">
    <part name="parameters" element="tns:cadastrarResponse"/>
  </message>
  <message name="alterar">
    <part name="parameters" element="tns:alterar"/>
  </message>
  <message name="alterarResponse">
    <part name="parameters" element="tns:alterarResponse"/>
  </message>
  <message name="buscar">
    <part name="parameters" element="tns:buscar"/>
  </message>
  <message name="buscarResponse">
    <part name="parameters" element="tns:buscarResponse"/>
  </message>
  <message name="excluir">
    <part name="parameters" element="tns:excluir"/>
  </message>
  <message name="excluirResponse">
    <part name="parameters" element="tns:excluirResponse"/>
  </message>
  <portType name="LivroWS">
    <operation name="hello">
      <input wsam:Action="http://pd.ifpb.br/LivroWS/helloRequest" message="tns:hello"/>
      <output wsam:Action="http://pd.ifpb.br/LivroWS/helloResponse" message="tns:helloResponse"/>
    </operation>
    <operation name="cadastrar">
      <input wsam:Action="http://pd.ifpb.br/LivroWS/cadastrarRequest" message="tns:cadastrar"/>
      <output wsam:Action="http://pd.ifpb.br/LivroWS/cadastrarResponse" message="tns:cadastrarResponse"/>
    </operation>
    <operation name="alterar">
      <input wsam:Action="http://pd.ifpb.br/LivroWS/alterarRequest" message="tns:alterar"/>
      <output wsam:Action="http://pd.ifpb.br/LivroWS/alterarResponse" message="tns:alterarResponse"/>
    </operation>
    <operation name="buscar">
      <input wsam:Action="http://pd.ifpb.br/LivroWS/buscarRequest" message="tns:buscar"/>
      <output wsam:Action="http://pd.ifpb.br/LivroWS/buscarResponse" message="tns:buscarResponse"/>
    </operation>
    <operation name="excluir">
      <input wsam:Action="http://pd.ifpb.br/LivroWS/excluirRequest" message="tns:excluir"/>
      <output wsam:Action="http://pd.ifpb.br/LivroWS/excluirResponse" message="tns:excluirResponse"/>
    </operation>
  </portType>
  <binding name="LivroWSPortBinding" type="tns:LivroWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="hello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="cadastrar">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="alterar">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="buscar">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="excluir">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="LivroWS">
    <port name="LivroWSPort" binding="tns:LivroWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

